
$main-red: #A20A02;
$main-blue: #084C61;
$pop-red: #FD0F15;
$pop-blue: #0E45D1;
$pop-yellow: #ED9E1E;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
