

.gameover-container h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
}


.gameover-container h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;

}
.gameover-container{
  margin: 0 auto;
  width: 800px;
  background: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  opacity: 0.6;
  border: 10px white solid;
  animation-duration: 20s;
}

.body {
  width: 100%;
  min-height: 100vh;
  background: rgb(37,48,49);
  background: linear-gradient(to bottom, rgba(37,48,49,1) 0%, rgba(9,9,121,1) 35%, rgba(8,76,97,1) 100%);
}

.flex-container {
  padding-left:20px;
  padding-right: 20px;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}



.top-padding {
  padding: 20px;
}



.restart-btn {
  font-size: 18px;
  font-family:  'Press Start 2P', cursive;
  background-color: $pop-yellow;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 3px grey;
}
.restart-btn:hover {
  color: black;
  text-decoration: none;
  box-shadow: 2px 1px $pop-yellow;
}



 // // <% @game.game_events.each do |game_event| %>
 //          <div class="flex-container">
 //            <div><%=  game_event.choice.title%></div>
 //            <div><p><%="This gave you : #{game_event.choice.stress_impact} stress points"%></p>
 //              <p><%="This made you gain : #{game_event.choice.score_impact } score points "%></p>
 //            </div>
 //          </div>
 //         <% end %>
