.main-container{
  margin: 0 auto;
  width:100vw;
  min-height: 100vh;
  padding: 25px;
  overflow: hidden;
};

@media only screen and (max-width: 576px) {
  .main-container{
    width: 400px;
    padding: 0px;
  }

  #event-card{
    // max-width: 200px;
  }

}
