@keyframes movecar {
    0%      { left: 0px; transform: scaleX(-1) }
    49%     { left: 85%; transform: scaleX(-1) }
    50%     { left: 90%; transform: scaleX(1) }
    99%     { left: 5%; transform: scaleX(1) }
    100%    { left: 0px; transform: scaleX(1) }
}

    // @-webkit-keyframes movecar {
    //     0%      { left: 0px;transform: scaleX(-1) }
    //     50%     { left: 90%;transform: scaleX(0) }
    //     100%    { left: 0px;transform: scaleX(1) }
    // }

    // @-moz-keyframes movecar {
    //     0%      { left: 0px; transform: scaleX(-1) }
    //     50%     { left: 90%; transform: scaleX(0)}
    //     100%    { left: 0px; transform: scaleX(1)}
    // }

.sky {
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.5;

    overflow: hidden;   /* this keeps car inside sky div */
}

.sky img {

    // border-radius: 30px;
    position: relative;
    display: inline;

    animation: movecar 5s linear 1s;
        -webkit-animation: movecar 10s ease-in-out 1s infinite ;
        -moz-animation: movecar 10s ease-in-out 1s infinite ;
}

.sun {
    background: #ffe252;
    width: 85px;
    height: 85px;
    border: 2px solid black;
    border-radius: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.rode1, .rode2 {
    width: 100%;
    height: 20px;
    background: #808080;
    margin: 0;
}

.rode1 {
    border-top: 2px solid #000000;
}

.rode2 {
    border-top: 2px dashed #ffffff;
}
