
#button-container{
top: 50%;
position: fixed;
width: 100%;
}

.button-display{
    height: auto;
    min-height: 100px;
    width: 200px;
    border-radius: 8px;
    background: blue;
    color: lightgray;
    margin: 0 300px;
    white-space: normal;
    word-break: break-word;
}

#next-display{
    min-height: 50px;
    width: 100px;
    margin: 0px 0px;
}

#end-display{
  min-height: 50px;
  width: 100px;
  margin: 0px 0px;
}

.impact {
  margin: 70px;
  margin-left: 100px;
}

.next-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
}

