
#button-container{
top: 50%;
position: fixed;
width: 100%;
}

.button-display{
    height: auto;
    min-height: 100px;
    width: 200px;
    border-radius: 8px;
    background: blue;
    color: lightgray;
    margin: 0 300px;
    white-space: normal;
    word-break: break-word;
}

#next-display{
    min-height: 50px;
    width: 100px;
    margin: 0px 0px;
}

#end-display{
  min-height: 50px;
  width: 100px;
  margin: 0px 0px;
}

.impact {
  margin: 70px;
  margin-left: 100px;
  margin-top: 100px;
  // overflow-x: visible;
  // overflow-wrap: normal;
}

#stress-kebab {
  margin: 70px;
  margin-left: 100px;
  margin-top: -80px;
}


@media only screen and (max-width: 576px) {
// MAKE IMPACT DISAPPEAR IN SMARTPHONES
  .impact{
    margin: 0px;
    display: none;
  }
}

.next-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  color: rgba(250,250,250,0);
  text-decoration: none;
  border-radius: 10px;

  &.active {
    text-decoration: none;
    text-shadow: 0px 1px 2px rgb(250, 250,250);
    font-size: 32px;
    white-space: normal;
    background: rgb(17,17,17);
    transition: color 4s ease;
    transition: background-color 4s linear;
    color: rgb(250,250,250);
    opacity: 0.7;
  }
}

