
$w: 900px;
$h: 54rem;
$headerH: 6rem;
$cardW: 24rem;
$cardH: 32rem;
$cardTopH: 20.5rem;
$cardBtmH: $cardH - $cardTopH;
$imgSize: 10rem;

$purple: #7132B9;
$blue: #248CB6;
$indigo: #303F9F;
$cyan: #26C6DA;
$lime: #AFB42B;
$brown: #795548;

$orange: #FF945A;
$green: #B1DA96;

.demo,
#event-card {
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // width: $w;
  // height: $h;
  // margin-left: $w/-2;
  // margin-top: $h/-2;
  // background: #F6F6F5;
  // box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);

  &__header {
    // height: $headerH;
    // background: #002942;
  }

  &__content {
    // overflow: hidden;
    // position: relative;
    // height: $h - $headerH;
    // padding-top: 4.5rem;
    // user-select: none;
  }

  &__card-cont {
    // position: relative;
    // width: $cardW;
    // height: $cardH;
    // margin: 0 auto 5rem;
  }

  &__card {
    // z-index: 2;
    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    transform-origin: 50% 100%;

    &.reset {
      transition: transform 0.3s;
      transform: translateX(0) !important;

      .demo__card__choice {
        transition: opacity 0.3s;
        opacity: 0 !important;;
        border-radius: 3px;
      }
    }

    &.inactive {
      transition: transform 0.3s;
    }

    &.to-left {
      transform: translateX(-30rem) rotate(-30deg) !important;
    }

    &.to-right {
      transform: translate(30rem) rotate(30deg) !important;
    }

    &.below {
      z-index: 1;
    }

    &__top {
      height: $cardTopH;
      padding-top: 4rem;

      &.purple {
        background: $purple;
      }
      &.blue {
        background: $blue;
      }
      &.indigo {
        background: $indigo;
      }
      &.cyan {
        background: $cyan;
      }
      &.lime {
        background: $lime;
      }
      &.brown {
        background: $brown;
      }
    }

    &__img {
      overflow: hidden;
      width: $imgSize;
      height: $imgSize;
      margin: 0 auto 1.5rem;
      border-radius: 50%;
      border: 0.5rem solid #ffffff;
      background-size: cover;
    }

    &__name {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
    }

    &__btm {
      height: $cardBtmH;
      background: #FFFFFF;
    }

    &__we {
      text-align: center;
      font-size: 2.2rem;
      line-height: $cardBtmH;
    }

    &__choice {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 10px;

      &:before {
        // content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-left: -1rem;
        color: #fff;
        border-radius: 50%;
        box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
      }

      &:after {
        // content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 4rem;
        height: 1.5rem;
        margin-left: -2rem;
        border: 0.6rem solid #fff;
        border-bottom: none;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
      }

      &.m--left {
        background: rgb(17,17,17);
        background: linear-gradient(0deg, rgba(17,17,17,0.9714695411392406) 33%, rgba(33,33,33,0.946153085443038) 92%);
        color: rgba(220,220,220, 1);
        padding: 100px 40px;
        padding-top: 250px;
        text-align: center;
        font-size: 30px;
        font-family: $share-tech;
        letter-spacing: .2rem;
        text-shadow: 0px 1px 2px rgb(250, 250,250);
        box-shadow: 3px 3px 24px 4px rgba(255,255,255,0.4);
      }
      &.m--right{
        background: rgb(17,17,17);
        background: linear-gradient(0deg, rgba(17,17,17,0.9714695411392406) 33%, rgba(33,33,33,0.946153085443038) 92%);
        color: rgba(220,220,220, 1);
        text-align: center;
        padding: 100px 40px;
        padding-top: 250px;
        font-size: 30px;
        font-family: $share-tech;
        letter-spacing: .3rem;
        text-shadow: 0px 1px 2px rgb(250, 250,250);
        box-shadow: 3px 3px 24px 4px rgba(255,255,255,0.4);

        &:after {
          transform: scaleY(-1);
        }

      }
    }

    &__drag {
      z-index: 5;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: grab;
    }
  }

  &__tip {
    text-align: center;
    font-size: 2.2rem;
  }
}
