
<div class="body">
  <div class = "top-padding">
    <div class="gameover-container" >
      <h2>Game over</h2>
      <h1><%= "your score = #{@game.score}"  %></h1>

         <div class="pb-2">
          <%= button_to "yeet" ,game_rules_path , :method => "get"%>
        </div>
    </div>
  </div>
</div>
