<div class="gameover-container " >
    <h1>Game over</h1>
        <div class="flex-container">
          <div>event 1</div>
          <div>consequence 1</div>
        </div>
        <div class="flex-container">
          <p>event 2</p>
          <p>consequence 2</p>
        </div>
        <div class="flex-container">
          <p>event 3</p>
          <p>consequence 3</p>
        </div>
        <div class="flex-container">
          <p>event 4</p>
          <p>consequence 4</p>
        </div>
      <%= "your score = "  %>
      <a href="#" id = restart-btn >try again</a>
</div>


