<div class="gameover-container " >
    <h1>Game over</h1>

    <%= "your score = "  %>
    <% @game.game_events.each do |game_event| %>
        <div class="flex-container">
          <div><%=  game_event.choice.title%></div>
          <br>
          <div><%=  game_event.choice.stress_impact%></div>
        </div>
       <% end %>

      <a href="" id = restart-btn >try again</a>
</div>


