<div class="main-container">
  <h1>Rules</h1>

  <h2>Choices</h2>

  <h2>Stress level</h2>

  <h2>Score</h2>

  <%= simple_form_for [@game, @game_event] do |f| %>
    <%= f.submit "Got it, let's start"%>
  <% end %>
</div>
