<input type="checkbox" id="switch" checked>
<label for="switch" class="switch-label">Turn </label>
<div class="container">
  <iframe src="/" class="screen" width="800" height="600"></iframe>
  <div class="overlay">AV-1</div>
</div>

