// Typo


//
.container {
  position: relative;
}

.content {
  font-size: 8px;
  margin-top: 10px;
  opacity: 0;
}

.kebab-joker {
  position: absolute;
  right: 40px;
  bottom: 35px;
  align-items: center;
  &:hover .content {
    opacity: 1;
  }
}
.event-card{
  position: relative;
  background: #B5B8ED;
  height: 85vh;
  padding: 0px;
  margin-top: 9vh;
  border-radius: 10px;
  //border: 2px solid black;
  box-shadow: 2px 0px 7px 1px rgba(20,20,20,1);
  color: #302918;
  width: 400px;
}

@media only screen and (max-width: 576px) {
// MAKE IMPACT DISAPPEAR IN SMARTPHONES
  .event-card{
    margin-top: 120px;
  }
}

.event-head{

  align-items: center;

  h3{
    font-size: 20px;
    //box-shadow: inset 0px 1px 5px 0px rgba(87,85,87,0.25);
    padding: 15px;
    margin-bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0;
    background: #B5B8ED;
    color: rgb(10,10,10);
  }
 }


.event-image {
  height: 300px;
  width: 400px;
  background-repeat: 100% 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.event-description {
    padding: 10px 20px;
    width: 100%;
    height: auto;
    min-height: 30%;
    margin: auto auto;
    background: #D6D8F5;
    box-shadow: inset 0px 1px 5px 0px rgba(87,85,87,0.25);

}

.event-description p,
.event-description span {
  margin-bottom: 0px;
  font-family: $share-tech;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
}

.click-next {
  box-shadow: 3px 3px 24px 4px rgba(255,255,255,0.4);
  background: rgb(17,17,17);
  background: linear-gradient(0deg, rgba(17,17,17,0.9714695411392406) 33%, rgba(33,33,33,0.946153085443038) 92%);
}

.arrow-right {
  position: absolute;
  top: 410px;
  right: 240px;
}

.arrow-left {
  // z-index: 99;
  // width: 100%;
  position: absolute;
  top: 410px;
  left: 240px;
}

.no-swipe-arrow-left {
  opacity: 0;
  transition: opacity 2s ease;
  position: absolute;
}

.no-swipe-arrow-right {
  opacity: 0;
  transition: opacity 2s ease;
}

.swipe-arrow {
  opacity: 1;
  transition: opacity 2s ease;
}


.hidden {
  opacity:0;
  transition: opacity 2.5s ease ;
}

.shown {
  opacity:1;
  transition: opacity 2.5s ease ;
}

.fixe {
  position:absolute;
  right:70px;
  top: 130px;
}

// .joker-kebab-used {
//   opacity: 0.3;
//   transition: opacity 2s ease;
// }

.score-multiply {
  opacity: 0;
  transition: opacity 2s ease;
}

.display-multiply {
  opacity: 1;
  transition: opacity 2s ease;
}

.opacity {
  opacity: 1;
  // transition: opacity 0.5s ease;
}

.no-opacity {
  opacity: 0;
  transition: opacity 0.5s ease;
}

