// Typo


//

#event-card{
  position: relative;
  background: rgb(173, 150, 86);

  align-items: center;
  max-width: 450px;
  min-width: 300px;

  min-height: 85vh;
  padding: 30px;
  border-radius: 10px;
  border: 3px outset #302918;
  color: #302918;
  margin-top: 60px;

  img{
    border: solid 2px #302918;
    border-radius: 10px;
    display: flex;
  }
}

.event-head{

  // position: absolute;

  align-items: center;
  display: block;
  width: 100%;

  h3{
    font-size: 20px;
    //border: 2px solid black;
    box-shadow: inset 0px 1px 5px 0px rgba(87,85,87,0.25);
    padding: 5px;
    margin-bottom: 25px;
    // width: 384px;
    width: auto;

    border-radius: 10px;
    background: rgb(189, 167, 103);
  }
 }

.event-image {
  // top: 70px;
  border: solid 2px #302918;
  border-radius: 10px;
  margin-bottom: 20px;
  // position: absolute;
  height: 280px;
  width: 380px;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-description {
    //border: 2px solid black;
    // position: absolute;
    width: 100%;
    border-radius: 10px;
    margin: 0px 10px;
    padding: 0px;
    width: 384px;
    height: 100%;
    background: rgb(189, 167, 103);
    box-shadow: inset 0px 1px 5px 0px rgba(87,85,87,0.25);
    p{
      margin-bottom: 0px;
      font-family: $share-tech;
      letter-spacing: .3rem;
      font-size: 24px;
      line-height: 22px;
      letter-spacing: 1px;
    }
}


.click-next {
  box-shadow: 3px 3px 24px 4px rgba(255,255,255,0.4);
  background: rgb(17,17,17);
  background: linear-gradient(0deg, rgba(17,17,17,0.9714695411392406) 33%, rgba(33,33,33,0.946153085443038) 92%);
} 

.arrows {
  z-index: 100;
  width: 100%;
}

.no-swipe-arrow-left {
  opacity: 0;
  transition: opacity 2s ease;
}

.no-swipe-arrow-right {
  opacity: 0;
  transition: opacity 2s ease;
}

.swipe-arrow {
  opacity: 1;
  transition: opacity 2s ease;
}

