.background {
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.container-home{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-home>div>h1{
  text-align: left;
  opacity: 0.9;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 54px;
  font-weight: bold;
}

.container-home>div>div>span{
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // padding: 25px 0;
}

#typed-height {
  min-height:130px;
  padding: 25px 0;
}

.play-button {
  padding: 25px 0;
  background: $pop-red;
  color: #FAFBFC;
  opacity: 1;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  transition: color 0.3s ease;
  transition: background 0.3s ease;
}


.play-button:hover {
  color: white;
  background: $main-red;
  opacity: 0.9;
}

#typed {
  p {
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
  }
}

#rules {
  border: 6px solid #E9DFE1;
  padding: 10px 20px;
  border-radius: 4px;
  list-style: none;
  background: #2F2F32;
}

.volume-btn {
  position: absolute;
  bottom: 115px;
  right: 0px;
  width: 45px;
}

