.navbar-lewagon {
  justify-content: space-between;
  z-index: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#score-display {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 40px;
  width: 120px;
}

.display-score {
  font-family:  'Press Start 2P', cursive;
  color: #F49D37;
}

.avatar-char {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 5px;
}

@media only screen and (max-width: 576px) {

  #score-display{
    font-size: 10px;
  }

  .display-score {
    font-size: 10px;
  }

  .avatar-char {

  }

}
