<div class="main-container">
    <p class="text-center">event description</p>
    <p class="text-center"><%= @game_event.event.description %></p>
  <div class="d-flex justify-content-center">
    <%= image_tag("https://source.unsplash.com/random/350x350") %>
  </div>
    <p class="text-center">event title</p>
    <p class="text-center"><%= @game_event.event.title %></p>
</div>
<br><!-- choices -->
<p class="text-center">choices</p>
<div class="d-flex justify-content-around">
  <% @event.choices.each do |choice| %>
    <%#= simple_form_for @game_event, choice do |f| %>
      <%#= f.submit label: choice.description %>
    <%# end %>
    <p><%= choice.title %></p>
  <% end %>
</div>
